# Compiled source #
###################
*.o
*.so

# RUnit files    #
##################
report*

# R specific     #
##################
symbols.rds
.Rhistory

# OS generated   #
##################
.DS_Store
.exrc
*.swp
