useDynLib(finmix)
exportPattern("^[[:alpha:]]+")

importFrom(graphics, plot)
importFrom(graphics, barplot)
importFrom(mnormt, dmnorm)
importFrom(mnormt, dmt)
export( ## user-defined constructors
        "dstud",
        "model",
        "modelmoments",
        "data",
        "prior",
        "priordefine",
        "mcmc",
	"%=%",
        "mcmcstart",
        "dataclass",
        "groupmoments",
        "sdatamoments",
        "datamoments"
)
exportClasses( ## all classes
        "model",
        "modelmoments",
        "data",
        "groupmoments",
        "sdatamoments",
        "csdatamoments",
        "datamoments",
        "cdatamoments",
        "ddatamoments",
        "prior",
        "mcmc",
        "dataclass",
        "mcmcoutput"
)

exportMethods( ## name of the generic, as with other methods
        ## 'model' class ##
        "getDist",
        "setDist<-",
        "getK",
        "setK<-",
        "getR",
        "setR<-",
        "getWeight",
        "setWeight<-",
        "getPar",
        "setPar<-",
        "getIndicMod",
        "setIndicMod<-",
        "getIndicFix",
        "setIndicFix<-",
        "getT",
        "setT<-",
        "plot",

        ## 'modelmoments' class ##
        "getMean",
        "getVar",

        ## 'nsmodelmoments' class ##
        "getHigher",
        "getSkewness",
        "getKurtosis",
        "getR",
        "getRtr",
        "getRdet",
        "getCorr",

        ## 'dmodelmoments' class ##
        "getOver",
        "getFactorial",
        "getZero",

        ## 'data' class ##
        "getY",
        "setY<-",
	"getN",
	"setN<-",
        "getS",
        "setS<-",
        "getByColumn",
        "setByColumn<-",
        "getName",
        "setName<-",
        "getType",
        "setType<-",
        "getSim",
        "setSim<-",

        ## 'groupmoments' class ##
        "getNK",
        "getGroupMean",
        "getData",

        ## 'sdatamoments' class ##
        "getGroupMoments",
        "getWK",

        ## 'csdatamoments' class ##
        "getB",
        "getW",
        "getT",

        ## 'cdatamoments' class ##
        "getSDataMoments",
	"mixturemar"

)
