useDynLib(finmix)
exportPattern("^[[:alpha:]]+")

importFrom(graphics, barplot)
importFrom(graphics, hist)
importFrom(graphics, persp)
importFrom(graphics, contour)
importFrom(graphics, pairs)
importFrom(KernSmooth, bkde2D)
importFrom(mvtnorm, dmvnorm)
importFrom(mvtnorm, qmvnorm)
importFrom(mvtnorm, dmvt)
importFrom(mvtnorm, qmvt)
export( ## user-defined constructors
        "dstud",
        "model",
        "modelmoments",
        "data",
        "prior",
        "priordefine",
        "mcmc",
    	"%=%",
        "mcmcstart",
        "dataclass",
        "groupmoments",
    	"mixturemcmc",
        "swap_cc",          ## Rcpp::export
        "swapInteger_cc",   ## Rcpp::export
        "swapInd_cc",       ## Rcpp::export
        "swapST_cc",        ## Rcpp::export
        "mcmcpermute",
        "mcmcestimate"
)

exportClasses( ## all classes
        "model",
        "modelmoments",
        "data",
        "groupmoments",
        "prior",
        "mcmc",
        "dataclass",
        "mcmcoutput"
)

exportMethods( ## name of the generic, as with other methods
        ## 'model' class ##
        "getDist",
        "setDist<-",
        "getK",
        "setK<-",
        "getR",
        "setR<-",
        "getWeight",
        "setWeight<-",
        "getPar",
        "setPar<-",
        "getIndicmod",
        "setIndicmod<-",
        "getIndicfix",
        "setIndicfix<-",
        "getT",
        "setT<-",

        ## 'modelmoments' class ##
        "getMean",
        "getVar",

        ## 'nsmodelmoments' class ##
        "getHigher",
        "getSkewness",
        "getKurtosis",
        "getRtr",
        "getRdet",
        "getCorr",

        ## 'dmodelmoments' class ##
        "getOver",
        "getFactorial",
        "getZero",

        ## 'data' class ##
        "getY",
        "setY<-",
    	"getN",
    	"setN<-",
        "getS",
        "setS<-",
        "getBycolumn",
        "setBycolumn<-",
        "getName",
        "setName<-",
        "getType",
        "setType<-",
        "getSim",
        "setSim<-",

        ## 'groupmoments' class ##
        "getNK",
        "getWK",
        "getData",

        ## 'sdatamoments' class ##
#        "getGmoments",

        ## 'csdatamoments' class ##
#        "getB",
#        "getW",
#        "getT",

        ## 'cdatamoments' class ##
 #       "getSmoments",
 #   	"mixturemar",

        ## 'mcmc' class ##
        "getBurnin",
        "getM",
        "getStartpar",
        "getStoreS",
        "getRanperm",

        ## 'mcmcoutputfix' class ##
        "getLog",
        "getModel",
        "getPrior",
        "plotHist",
        "subseq",
        "swapElements",

        ## 'mcmcouputfixhier' class ##
        "getHyper",

        ## 'mcmcoutputfixpost' class ##
        "getPost",

        ## 'mcmcoutputbase' class ##
        "getEntropy",
        "getST",
        "getClust",

        ## 'mcmcpermfix' class ##
        "getMperm",
        "getParperm",
        "getLogperm",
        
        ## 'mcmcpermfixpost' class ##
        "getPostperm",

        ## 'mcmcpermind'  class ##
        "getWeightperm",
        "getEntropyperm",
        "getSTperm",
        "getSperm",
        "getNKperm",

        ## 'mcmcestfix' class ##
        "getMap",
        "getBml",
        "getIeavg",
        
        ## 'mcmcestind' class ##
        "getEavg"
)
